html{
scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
}


/*布條*/
.list a{
    text-decoration: none;
}

.top{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.top nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: rgb(255, 255, 255);
}


.topbox .LOGO{
    margin-left: 30px;
}

.list{
    cursor: pointer;
    display: flex;
}

.nav{
    font-family: 'sans-serif';
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-right: 70px;
    transition: 0.5s;
}

.nav:hover{
    transform: scale(1.1);
}

.nav4:hover{
    color:rgb(255, 0, 0);
}


/*采音吉他社*/
.main .homepage{
    height: 900px;
    background-size:cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 110px;
}

/* 文字色彩調整 */
.page01text h1,.page01text h2,.page01text p{
    color: #FFFFFF;
}

/* 大標 */
.title{
    font-size: 93px;
    font-weight: 900;
    font-family: 'sans-serif' ;
}

/* 副標 */
.page01text .eng{
    width:100%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'arial' ;
}

/* 內文簡介 */
.p1text{
    font-family: 'sans-serif' ;
    font-style: normal;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.18em;
}

/* BTN */
.button{
    margin-top: 20px;
    width: 200px;
    height: 55px;
    background-color: white;
    opacity: 70%;
    border-radius: 9px;
    z-index: 100;
    transition: all .3s linear;

    display: flex;
    justify-content: center;
    align-items:center;
}

.page01text .button p{
    color: #000000;
}

.button:hover{
    background-color: #ffffff;
    opacity: 100%;
}

.enter{
    width: 131px;
    font-family: 'sans-serif';
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.35em;
    color: #000000;    
}


/*======= 關於我們 ======*/
.aboutus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-bg{
    background-color: rgb(255, 255, 255);
   
}


/* 大標 */
.aboutus-bg .about_title{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 75px;

    color: #000000;
    
}

/* 限制區域寬度 */
.aboutus-bg .about-img{
    width: 1100px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 60px;

}

.aboutus .aboutImg_{
    display: flex;
    justify-content: center;
}

.aboutus ._aboutImg{
    width: 480px;
    border-radius: 15px;
}


.t{
    font-family: 'sans-serif';
    font-weight: 600;
            font-size: 32px;
        text-align: center; 
   color: #000000;
   margin: 20px auto 100px auto;

}




/*活動資訊*/
.inf-bg{
    background-color: rgb(0, 0, 0);
    padding-top:60px;
}

.inf .event{
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: white;
}

/* ======= 寫個輪播 ======= */

/* 輪播最外層 */
/* 置中間 */
.inf .Scroll_Out{
    padding: 80px 0px 240px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

/* 箭頭*/
.arrowBTN img{
    width: 20px;
    transition: 0.2s;
}

.arrowBTN img:hover{
    transition: 0.2s;
    transform:scale(1.2);
}

.inf .Arrow_Frame{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 5;
}

.inf-img{
    height:470px;
    display: flex;
    justify-content: center;
}

/* 圖片大框  */
.inf .Info_Img_Width{
    width: 1260px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    /* x軸滾條 */
    overflow-x: hidden;
    /* 隱藏y軸滾條 */
    overflow-y:hidden ;
    
}

/* 滑動條 */
::-webkit-scrollbar {
    padding-top: 20px;
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 254, 254, 0.5); 
}

/* 單張圖片挑整 */
.inf .info_SingleImg{
    position: relative;
    right: 450px;
    height: 470px;
    margin: 20px 25px;
    transition: 0.4s;
}

/*====== 幹部介紹 ======*/
.student{
    padding-top: 60px;
}

.introduce_title{
    font-family: 'sans-serif';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #000000;
    padding-bottom: 60px;
}

/* 幹部列表 */
.student .student-intro_out{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*上排幹部*/
.student .student-img-up{
    display: flex;
    justify-content: space-between;
    width: 750px;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

/*下排幹部*/
.student .student-img-down{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.student .stu_Img{
    border-radius: 15px;
}

/*文字*/
.student .t1{
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

/* ======= 聯絡我們 ======= */
.contactus{
    margin-top: 140px;
    padding-top:50px;
    background-color: #000000;
}

.contactus h3{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 70px;
}

.contactus .contactForm{
    display: flex;
    justify-content: center;
}

.contactus .input_2 ,.contactus .input_1{
    display: flex;
    justify-content: center;
}

.contactus .input_info{
    background-color: #000000;
    height: 70px;
    width: 400px;
    border: #FFFFFF solid 4px;
    color: #FFF;
    margin: 25px auto 25px auto;
    border-radius: 86px;
    padding-left: 30px;
    font-size: 20px;
}
.contactus .input_3 .input_info{
    height: 320px;
    width: 450px;
    border-radius: 40px;
    padding-top: 20px;
    vertical-align: top;
}

.contactus .formBTN{
    background-color: #fff;
    border: 0px solid #fff;
    color: #000000;
    border-radius: 20px;
    font-family: 'sans-serif';
    font-size: 30px;
    padding: 6px 50px;
    font-weight: 400;
    width: 225px;
    transition: 0.4s;
}

.contactus .formBTN:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.contactus .formBTNOut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

/* ======= footer ======= */
.footer .end-bg{
    display: flex;
    justify-content: center;

    padding: 55px 0px;
}

.footer .link{
    width: 150px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
}

.footer .link a:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
